body {
  background: $body;
  font-family: $default_font;
}
html, body, .l-page {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height:100%;
  position:relative;
}
header {
  width: 100%;
  background: $header;
}
footer.l-footer {
  display: block;
  vertical-align: top;
  padding: 10px 0;
  margin-bottom: 0px;
  min-height: 275px;
  border-bottom: 1px solid #dfdfdf;
  background: $footer;
  font-size: 13px;
  position: relative;
  box-shadow: 0 1px 0 #f4f4f4;
}
ul, ol {
  list-style: none;
}
a, p, ul, ol, li, img, span, strong, em {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}
.l-main {
  max-width: 980px;
  margin: 0 auto;
  min-width: 240px;
  min-height: 100%;
  height: auto!important;
  padding:10px 20px;
}
.l-region--navigation {
  background: $navigation;
  border-top: 0px solid rgba(47, 46, 46, 1);
  border-bottom: 0px solid rgba(47, 46, 46, 1);
  height: 50px;
}
.l-branding {
  margin: 30px;
}
