.main-menu {
  max-width: 980px;
  margin: 0 auto;
  h2 {
    display: none;
  }
  ul {
    width: auto;
    margin: 0 auto;
    li {
      display: inline;
      float: left;
      list-style-image: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      a {
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        display: block;
        font-family: $default_font;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 15px;
        text-decoration: none;
        color: $body;
        &.active {
          background: $navigation_active;
        }
      }
    }
  }
}