$footer: linear-gradient(to bottom, rgba(5,1,0,1) 0%, rgba(33,32,32,1) 0%, rgba(31,30,29,1) 50%, rgba(41,36,36,1) 99%, rgba(0,0,0,1) 100%);
$body: #f4f2eb;
$navigation: linear-gradient(to bottom, rgba(5,1,0,1) 0%, rgba(33,32,32,1) 0%, rgba(31,30,29,1) 50%, rgba(41,36,36,1) 99%, rgba(0,0,0,1) 100%);
$navigation_active: linear-gradient(to bottom, rgba(28,22,20,1) 0%, rgba(55,54,54,1) 0%, rgba(58,57,56,1) 50%, rgba(68,62,62,1) 99%, rgba(20,20,20,1) 100%);
$link: #ed2323;
$header: #ef6423;